body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Inter',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b0c0d;
  color: #eeeeee;
}

html {
  background-color: #0b0c0d;
}

code {
  font-family: 'Fira Code', 'Courier New', monospace;
}

#root {
  background-color: #0b0c0d;
}

* {
  box-sizing: border-box;
}
